{{extend 'layout.html'}}
<h1>Ayuda</h1>

<script type="text/javascript">
$("document").ready(function(){
$("#tabs").tabs();
});
</script>

<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Instrucciones para usar Emporio Nacional de la Pizza</a></li>
    </ul>
    <div id="tabs-1">
        <h3>Pedir pizza</h3>
        <p>Ingrese a la interfase para pedir productos con el acceso "Nuevo pedido" en en el menú superior del documento. La carga de un producto en el detalle se realiza cuando el usuario hace clic en un item del menú de producto (panel de pizzas, empanadas y bebidas). Para modificar una cantidad para un ítem del detalle, haga clic en el ítem a modificar y luego clic en el dibujo del lápiz en el panel inferior del detalle del pedido. Para eliminar un ítem de la lista, seleccione el ítem y haga clic en el dibujo con el recipiente para basura de la parte inferior del detalle del pedido. Finalice el pedido haciendo clic en el botón "submit"</p>
    </div>
</div>
